button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

 body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(177,177,177);
    font-size: 10px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.btn {
    margin: 0 auto;
    border:1px solid rgb(177,177,177);
    padding: 0.5em;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    border-radius: 1ex;
    -webkit-border-radius: 1ex;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

.btn:hover {
    border:1px solid white;
    color: white;
}