$bg-color: rgb(35, 35, 35);
$standard-white: rgb(185, 185, 185);
$active-white: rgb(232, 232, 232);
$blue-highlight: rgb(45, 140, 235);
$brighter: rgba(255, 255, 255, 0.1);
$brightest: rgba(255, 255, 255, 0.2);
$darker: rgba(0, 0, 0, 0.1);
